/* centered columns styles */

.row-centered {
    text-align:center;
}
.blue{
    background-color:blue;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.champs-requis{
    border:1px solid #9c8080;
    padding:5px;
    border-radius:3px;
}