.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
    
}
.EvenRowColor{
    background-color:#cacaca;
    padding-top:3px;
}
.OddRowColor{
    background-color:#ffffff;
    padding-top:3px;
}
.OddHeight{
    height:68px;
}
.bar-bottom{
    padding-bottom:20px;
    border-bottom:1px solid #000000;

}
.bar-top{
    padding-top:20px;
    border-top:1px solid #000000;
}
.img-thumbnail{
    height:60px;
    width:60px;
    min-height:60px;
    min-width:60px;
}
.aucunInsctiption{
padding:20px 0;
}
.champs-requis {
    border: 1px solid #9c8080;
    padding: 5px;
    border-radius: 3px;
}
