<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="15360" requestLengthDiskThreshold="15360" />
    <customErrors mode="On" defaultRedirect="ErreursImportant.aspx">
      <error statusCode="404" redirect="PageNotFound.aspx" />
    </customErrors>
    <!-- Code pour faire expirer la session après tant de  temps -->
    <sessionState timeout="60"></sessionState>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="LeModelTIContainer" connectionString="metadata=res://*/Model.LeModelTI.csdl|res://*/Model.LeModelTI.ssdl|res://*/Model.LeModelTI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlinfo.cegepgranby.qc.ca;initial catalog=ProjetDeux_2015_2;persist security info=True;user id=ProjetDeux_2015_2;password=ProJ2015;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>
